.loading-screen{
    width: 100vw;
    height: 120vh;
    z-index: 100;
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -80px;
    z-index: 0;
}
h4{
    font-size: 40px;
    color: whitesmoke;
}
.spinner{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 15px solid whitesmoke;
    border-bottom-color: rgb(66, 87, 126);
    animation: spin 1.5s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }