.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    
}
body{
    background-color: whitesmoke;
}
.no-scroll{
    overflow-y: hidden;
    background-color: aquamarine;
}