.overlay{
    z-index: 10;
    background-color: rgba(90, 94, 92, 0.9);
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top: 80px;
    padding-top: 40px;
    width: 100%;
    
}
.overlay-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.hide-btn{
    position: absolute;
    right: 20px;
    top: 10px;
    color: rgb(211, 20, 20);
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
}
.overlay-container h1{
    color: whitesmoke;
    font-size: 28px;
    margin: unset;
}
.overlay span{
    cursor: pointer;
    user-select: none;
}
.divider{
    border: solid 2px;
    width: 80%;
    border-radius: 2px;
    margin: 10px;
}
.remove-btn{
    float: right;
    position: relative;
    top: -15px;
    color: red;
    cursor: pointer;
}