*{
    font-family: Verdana, Tahoma, sans-serif
}
h2{
    margin: 0;
}
.spell-card{
    width: 21%;
    min-width: 300px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: solid 2px darkslategray;
    border-radius: 1em;
    margin: 1em 1em;
    height: 100%;
    box-shadow: 2px 2px 5px grey;
}
span{
    font-weight: 600;
}
p{
    margin: 0.125em;
}
hr{
    width: 100%;
    color: goldenrod;
    margin-top: -10px;
}
.expander{
    float: right;
    font-style: normal;
    user-select: none;
}
.expander:hover{
    cursor: pointer;
}
.add-remove-bottom{
    text-align: center;
    font-weight: 600;
    user-select: none;
}
.add-remove-bottom > span{
    cursor: pointer;
}
.add-remove-top{
    font-weight: 600;
    cursor: pointer;
    float: right;
    font-size: 24px;
    position: relative;
    z-index: 0;
    top: -12px;
    user-select: none;
}
.red{
    color: red;
}
.green{
    color: rgb(24, 168, 22);
}
.bottom-line{
    margin: 10px 0;
}
@media screen and (max-width: 1750px){
    .spell-card{
        width: 28%;
    }
}
@media screen and (max-width: 1300px){
    .spell-card{
        width: 40%;
    }
}
@media screen and (max-width: 760px){
    .spell-card{
        width: 70%;
    }
}